# Packages from Conda env (cleaned of C-libraries/system runtimes)
asttokens==3.0.0
bottleneck==1.4.2
# brotli-python==1.0.9
certifi==2025.10.5
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.11.0
dataclasses==0.8
debugpy==1.8.15
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.0
fonttools==4.55.3
importlib-metadata==8.7.0
ipykernel==6.29.5
ipython==8.37.0
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
matplotlib==3.10.0
# matplotlib-base==3.10.0
matplotlib-inline==0.1.7
# # mkl-service==2.4.0
# mkl_fft==1.3.11
# mkl_random==1.2.8
narwhals==1.31.0
nest-asyncio==1.6.0
numexpr==2.11.0
numpy==2.0.1
packaging==25.0
pandas==2.3.1
parso==0.8.4
pickleshare==0.7.5
pillow==11.3.0
platformdirs==4.3.8
plotly==6.0.1
prompt-toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
pygments==2.19.2
pyparsing==3.2.0
pyqt6==6.7.1
pyqt6-sip==13.9.1
python-dateutil==2.9.0.post0
# python-tzdata==2025.2
pytz==2025.2
# pywin32==311
pyzmq==27.0.0
seaborn==0.13.2
sip==6.10.0
six==1.17.0
stack_data==0.6.3
tomli==2.0.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.14.1
# tzdata==2025b
unicodedata2==15.1.0
wcwidth==0.2.13
zipp==3.23.0

# Packages originally under pip: section
choreographer==1.0.9
# cplex==22.1.1.0
docplex==2.30.251
iniconfig==2.3.0
kaleido==0.2.1
logistro==1.1.0
orjson==3.11.1
pandas-stubs==2.3.2.250926
pluggy==1.6.0
pytest==9.0.2
scipy==1.15.3
simplejson==3.20.1